@font-face {
    font-family: technology;
    src: url(./assets/font/Technology-Bold-Italic.ttf.woff);
}
html{
    font-size: 50px;
    font-family: technology;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    overflow-x: auto;
    overflow-y: hidden;
    border: solid 2px #333;
    border-radius: 10px;
    width: 362px;
    font-size: 2rem;
    height: 109px;
    background-color: #6b9e51;
    text-align: end;
}
input{
    
    border: solid 2px #333;
    border-radius: 10px;
    margin-top: 10px;
    width: 362px;
    height: 52px;
    background-color: #6b9e51;
    font-size: 1rem;
    font-family: technology;

    text-align: end;
}
button{
    border: none;
    font-size: 1rem;
    font-family: technology;
    font-weight:bolder ;
    width: 63px;
    height: 63px;
    background-color: #c4c4c4;
    border: 2px solid #c4c4c4 ;
}
button:hover{
    background-color: #494949;
}
.container__buttons{
    margin-top: 30px;
   width: 362px;
    display: flex;
   justify-content: space-between;
}
.calculator{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 476px;
    height: 664px;
    background-color: #43414A;
    border-radius: 30px;
}