
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Oswald:wght@200;300;400;500;600;700&display=swap');


html{
    margin:0;
    padding:0;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;;
    overflow-x: hidden;
}
body{
    padding-right: 63px;
    padding-left: 63px;
    background-color: #EFEFF0;
}
header{
    width: 92vw;
    top: 0;
    position: fixed;
}
main{
    margin-top: 100px;
    width: 92vw;
}
h1{
    font-size: 10rem;
}
h2{
    font-size: 3rem;
}
.mensagem{
    top:90vh;
    left: 90vw;
    position: fixed;
}
.mensagem img{
    width: 64px;
    height: 64px;;
}
.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fale-conosco{
    justify-content: start;
    background-color:#9F5943 ;
    height: 45.2px;
    color: white;
    font-size: 1.3rem;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
.fale-conosco span{
    width: 400px;
}
.fale-conosco  .pesquisar{
    margin-left: 40vw;;
}
.fale-conosco  input{
    color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: 200;
    width: 20vw;
    background-color: rgba(0,0,0,0);
}
.fale-conosco .pesquisar:hover{
    text-decoration-line: underline;
}
.bloco-paginas{
    color: #9F5943;
    height: 62px;
    background-color:#EFEFF0 ;
    justify-content: start;
    font-size: 1.5rem;
}
.bloco-paginas button{
    border:none;
    font-size: 2.2rem;
    background-color: rgba(0,0,0,0);
    color: #9F5943;
    font-family: 'Oswald', sans-serif;;
}
.bloco-paginas .sites{
    margin-left: 30px;
    font-size: 1.5rem;
    width: 15vw;
    font-weight: lighter;
    justify-content: space-between;
}
.bloco-promocoes .promocoes{
    font-size: 2rem;
    letter-spacing: 3px;

}

.bloco-promocoes{
    margin-left: 35vw;
}
.bloco-promocoes img{
    
    margin-right: 10px;
    margin-left: 10px;
}
.bloco-paginas a{
    text-decoration: none;
    color: #9F5943;
}
.apresentacao{
    width: inherit;
    height: 100vh;
    background-image: url("./imagens/apresentação.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    color: white;
}
.apresentacao button{
    color:white;
    background-color: #9F5943;
    width: 180px;
    height: 40px;
    border:none;
}
.apresentacao button:hover{
    background-color: white;
    color:#9F5943;
}
.apresentacao h1{
    letter-spacing: 13.44px;
    font-size: 11.2rem;
    font-weight: 400;
    margin: unset;
}
.apresentacao h2{
    letter-spacing: 5px;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 50px;
}
.texto-icone{
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: 100;
}
.texto-icone img{
    width: 120px;
}
.bloco-dados{
    color: #9F5943;
    margin-top: 50px;
    margin-bottom: 50px;
    width: inherit;
    height: 265px;
    background-color: white;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;;
    justify-content: space-around;
}
.bloco-dados img{
    height: 70px;
    width: 70px;
}
.dados2 img{
    height: 10px;
}
.dados2 img{
    width: 48px;
    height: 40px;
}

.dados3 img{
    width: 48px;
    height: 30px;
}

.dados4 img{
    width: 30px;
    height: 40px;
}
.dados h3{
    margin: unset;
    margin-top: 5px;
    font-weight: 400;
    font-size: 1.7rem;
    letter-spacing: 3.23px;
    line-height: normal;
}
.dados h4{
    margin: unset;
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 400;
}
.bloco-dados h3{
    font-size: 1.5rem;
}
.bloco-dados .dados{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bloco-produtos{
    width: inherit;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    color:#9F5943;
}
.bloco-produtos button{
    color: white;
    background-color: #9F5943;
    border: none;
    width: 180px;
    height: 40px;
    font-weight: 400;
    line-height: 21px;
    font-size: 1.5rem;
    margin-bottom: 380px;
}
.bloco-produtos button:hover{
    color: black;
    border: solid 1px black;
    background-color: white;
}
.bloco-produtos h2{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.bloco-produtos .produto{
    flex-direction: column;
    height: 560px;
    width: 427px;
    background-color: white;
}
#produto1{
    margin-left: 0;
    background-image: url('./imagens/cacto.webp');
    background-repeat: none;
    background-size: cover;
}

#produto2{
    background-image: url('./imagens/planta.webp');
    background-repeat: none;
    background-size: cover ;
}
#produto3{
    background-image: url('./imagens/suculenta.webp');
    background-repeat: none;
    background-size: cover;
}
.quem-somos{
    color: #9F5943;
    flex-wrap: wrap;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
}

.quem-somos > .promocao{
    flex-direction: column;
    color: white;
    background-color: #123132;
    width: 50%;
    height: 883px;
}
.quem-somos h3{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 50px;
}
.quem-somos p{
    text-align: center;
    text-align:unset;
    width: 400px;
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 200;
}
.quem-somos .texto{
    flex-direction: column;
}
.quem-somos > .promocao > h2{
    font-size: 7rem;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;;
    line-height: 97px;
    letter-spacing: -0.97px;
    font-weight:bold;
    overflow-wrap: break-word;
}
.quem-somos > .promocao > button{
    font-size: 1.5rem;
    line-height: 21px;
    border:none;
    background-color: white;
    width: 196px;
    height: 40px;
    margin-bottom: 10%;
}
.quem-somos > .promocao > button:hover{
    background-color: #D0B0A6;
}
.imagem{
    width: 25%;
    height: 590px;
}
#imagem1{
    background-image: url('./imagens/casa-cactus.webp');
    background-repeat: none;
    background-size: cover;
}
#imagem2{
    background-image: url('./imagens/folha.webp');
    background-repeat: none;
    background-size: cover;
}
#imagem3{
    height: 883px;
    width: 50%;
    background-image: url('./imagens/mulher.webp');
    background-repeat: none;
    background-size: cover;
}
.texto{
    height: 590px;
    width: 50%;
    background-color: white;
}
.bloco-fale-conosco{
    height: 1065px;  
    background-image: url("./imagens/planta-background.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
form{
    justify-content: start;
    flex-direction: column;
    background-color:rgba(255,255,255,0.9);
    width: 770px;
    height: 655px;
    font-size: 1.6rem;
    line-height: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
form label{
    margin-bottom: 10px;
}
form h2{
    color: #9F5943;
    margin-bottom: 100px;
    font-size: 1.8rem;
    line-height: 20.4px;
    letter-spacing: 7.65px;
    font-weight:bolder;
}
#input-nome{
    margin-right: 10px;
}
#input-email,
#input-telefone,
#input-mensagem{
    width: 721px;
    height: 39px;
}
#input-mensagem{
    height: 157px;
}
#input-submit{
    color: white;
    background-color: #9F5943;
    width: 731px;
    height: 40px;
    border: none;
    font-size: 1.4rem;
}
#input-submit:hover{
    color: black;
    border: solid 1px black;
    background-color:white;
}
form input{
    font-size: 2rem;
    height: 39px;
    width: 352px;
}
.entrada-nome{
    flex-direction: row;
}
form > span{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.bloco-informacoes-gerais{
    padding-top:100px;
    align-items: flex-start;
    height: 450px;
    background-color: #123132;
    color: white;
    justify-content:space-around;
    font-family:'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 400;
}
.bloco-informacoes-gerais h3{
    font-weight: 200;
    font-size: 1.7rem;
    letter-spacing: 7.65px;
}
.bloco-informacoes-gerais .bloco{
    width: 220px;
    height: 230px;
    flex-direction:column;
}
.informacoes{
    align-items: flex-start;
    width: 90%;
    justify-content:space-between;
}
.bloco-informacoes-gerais .bloco-input{
    width: 420px;
}
.bloco-informacoes-gerais .bloco3 h3{
    margin-bottom: 10px;
}
.bloco-informacoes-gerais .bloco3 ul{
    margin-bottom: 70px;
}

.bloco-informacoes-gerais .bloco4 h3{
    margin-bottom: 40px;
}
.bloco input{
    height: 40px;
    width: 360px;
    background-color: rgba(0,0,0,0);
    
    border: solid white 2px;
    color: white;
}
.bloco  .mandar{
    margin-top: 10px;
    font-language-override: 1.4rem;
    text-align: center;
    width: 370px;
    height: 40px;
    background-color: white;
    color:black;
}

.bloco  .mandar:hover{
    background-color: #D0B0A6;
    border:none;
}

.bloco h2{
    font-size: 3rem;
}

ul.a {
    list-style-type: none;
  }
.mapa > iframe{
    width: 100%;
    height: 720px;
    background: transparent;
}

footer{
    font-family: 'Open Sans', sans-serif;
    justify-content: space-around;
    color: #9F5943;
    height:200px;
    background-color: #EFEFF0;
}
footer > .centralizar{
    width: 90%;
    justify-content: space-around;
}
footer .bloco{
    line-height: 23.4px;
    font-size: 1.3rem;
    width: 200px;
}
footer .bloco2{
    width: 400px;
}
footer img{
    width: 20px;
}
footer span{
    display: flex;
}
#imagem-cartao{
    width: 200px;
}