body{
    margin: 0;
    padding: 0;
}

.coisa{
    width: calc(100px * 2);
    height: 100px;
    margin: 100px;
    transform: rotate(0.1turn);
    background-color: gray;
    text-align: center;
}

#a1{
    background-color: 'red';
}